    <p><b>Adding a new trip</b></p>
    
    <form action="/gezi/add_trip_result">
    <p>
    <input type="text" name="trip_name" class="form-control"
                                      placeholder="Trip name" /></p>

    <p>                                  
    <input type="text" name="city" class="form-control"
                                      placeholder="City" /></p>

    <p>                                  
    <input type="date" name="date" class="form-control"
                                       /></p>

        <input type="submit" value="Add" />
    </form>

    <a href="/gezi/"> Goto homepage</a>
