    <p><b>Adding a new person</b></p>
    
    <form action="/gezi/adding_result">
    <p>
    <input type="text" name="first_name" class="form-control"
                                      placeholder="Firstname" /></p>

    <p>                                  
    <input type="text" name="last_name" class="form-control"
                                      placeholder="Lastname" /></p>

    <p>                                  
    <input type="text" name="birthdate" class="form-control"
                                      placeholder="Birthdate" /></p>

    
        <input type="submit" value="Add" />
    </form>

